<div class="list-group">
    <a asp-controller="Home" asp-action="Index" class="list-group-item"><i class="fas fa-book"></i> Home </a>
    <a asp-controller="Post" asp-action="Index"  class="list-group-item"><i class="fas fa-feather"></i> Post Options </a>
    <a asp-controller="Project" asp-action="Index" class="list-group-item"><i class="fas fa-list"></i> Project Options </a>
    <a asp-controller="Comment" asp-action="Index" class="list-group-item"><i class="fas fa-bullhorn"></i> Comment Options </a>
    <a asp-controller="Category" asp-action="Index" class="list-group-item"><i class="fas fa-language"></i> Category Options </a>
    <a asp-controller="Ability" asp-action="Index" class="list-group-item"><i class="fas fa-language"></i> Ability Options </a>
    <a asp-controller="SocialSetting" asp-action="Index" class="list-group-item"><i class="fas fa-language"></i> Social Settings  </a>
    <a asp-controller="SiteSetting" asp-action="Index" class="list-group-item"><i class="fas fa-language"></i> Site Settings  </a>
    <a asp-controller="PersonalSetting" asp-action="Index" class="list-group-item"><i class="fas fa-language"></i> Personal Settings  </a>
</div>