@model Comment
@{
    ViewData["Title"] = "Delete";
    Layout = "_PanelLayout";
}

<h2>
    <b>@Model.Name</b> isimli yorumu silmek istiyormusunuz ?

</h2>
<form asp-controller="Comment" asp-action="Delete" method="POST">
    <input type="hidden" asp-for="CommentId">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>

