
@{
    Layout = "_PanelLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>ındex body</h2>
</body>
</html>
