@model IEnumerable<Project>
@{
    Layout = "_BlogLayout";
}


<h1 class="mt-4"></h1>
@foreach (var item in Model)
{
    <div class="card mb-4">
        @foreach (var img in ViewBag.CoverImage)
        {
            @if (img.PostId == item.ProjectId)
            {
                <img class="card-img-top image-cover" src="~/img/projects/@item.ProjectId/@img.Name" alt="@item.Name">
            }
        }


        <div class="card-body">
            <h2 class="card-title">@item.Name</h2>
            <a asp-controller="Blog" asp-action="DetailProject" asp-route-id="@item.ProjectId" class="btn btn-primary">Read More →</a>
        </div>
        <div class="card-footer text-muted">
            Posted on @item.Date.ToString("dddd, dd MMMM yyyy")
        </div>
    </div>
}


